npm init -y
npm i express mongoose dotenv bcryptjs jsonwebtoken cors moment-timezone
npm install multer multer-s3
npm install @aws-sdk/client-s3 @aws-sdk/client-route-53 @aws-sdk/client-sns
npm install pm2
